<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    <!-- navbar -->
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side -->
            
            <!-- right side -->
            <div class="col-md-6 col-12 main_header_left">
                <figure>
                    <img src="images/img4.jpg" alt="abhi nahi hain" class="img-fluid" title="thapa technical">
                </figure>    
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h2>
                I am a <span style="color: blue">MERN stack developer</span> 
                
              </h2>
              <a href="#" target="blank"><button>Download</button></a>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    {{>footer}}
  </body>
</html>